@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=Raleway:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #DDE0DC;

  p, span {
    font-family: 'Raleway', sans-serif;
    color: #6E7076;
  }
  a, button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #fff;
  }

  button {
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: #312928;
    transition: 0.5s ease-in-out;
     &:hover {
      color: #A73B38;
     }
  }

  ul {
    list-style: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
}
