
@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.login-form {
    @include flex();
    padding-top: 100px;
    form {
        fieldset {
            @include flex();
            padding: 20px;
            border-radius: 10px;
            legend {
                text-align: center;
            }
            input {
                width: 300px;
                height: 40px;
                font-size: 16px;
                padding: 10px;
                border: none;
                border-radius: 10px;
                text-align: center;
            }

            button {
                background-color: green;
                width: 60%;
                color: #fff;
                cursor: pointer;
                transition: 0.3s ease;
                &:hover {
                    background-color: aliceblue;
                    color: green;
                }
            }
        }
    }
}