
.images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0;
    .thumbnails {
        display: grid;
        align-items: center;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        
        img {
            height: 130px;
            width: 130px;
            cursor: pointer;
            border: 1px solid orange;
            background-color: burlywood;
            border-radius: 15px;

            &.active {
                filter: blur(2px); 
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .images {
        .thumbnails {
            align-items: flex-start;
            img {
                height: 50px;
            }
        }
        .main-images {
            img {
                height: 300px;
            }
        }
    }
}


/* Styles for the images section */
// .images {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .main-images {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: 10px;
// }

// .thumbnails {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: 10px;
// }
// .thumbnails {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: 10px;
// }

// .thumbnails:nth-child(1) {
//     justify-content: center;
// }
