
.product-desc {
    display: flex;
    flex-direction: column;
    gap: 35px;

    h5 {
        color: orangered;
        font-weight: bold;
    }
    h1 {
        font-size: 40px;
    }

    h3 {
        color: grey;
    }

    .sizes {
        h3 {
            margin-bottom: 20px;
        }
        button {
            margin-right: 10px;
            cursor: pointer;
            color: grey;
            &.active {
                background-color: black;
                color: #fff;
            }
        }
    }

    .quantity {
        display: flex;
        align-items: center;
        gap: 20px;
        button {
            background-color: orange;
            display: flex;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            img {
                height: 20px;
            }
        }
    }

    .cart {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
            font-weight: bold;
            span {
                color: orangered;
                font-weight: bold;
            }
        }

        button {
            cursor: pointer;
            background-color: #000;
            color: #fff;
            padding: 15px 70px;
        }
    }
}